@model List<JobPosting>


    <div class="list-group mt-4">

        @{
            foreach (JobPosting jobPosting in Model)
            {
                <a href="#" onclick="showModal(@jobPosting.Id)" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@jobPosting.JobTitle</h5>
                        <small>@jobPosting.JobLocation</small>
                    </div>
                    <p class="mb-1">@jobPosting.CompanyName</p>
                    <small>Start: @jobPosting.StartDate.ToShortDateString()</small>
                </a>
            }
        }

    </div>